################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.editorconfig
*.vsidx
*.lock
*.wsuo
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite

bin
obj
project
obj/Debug/net6.0/Project.GeneratedMSBuildEditorConfig.editorconfig
